sudo: required
dist: trusty
language: c

services:
  - docker

install:
  - docker build -t waja/httpdiff .

script:
  - test [ "$(docker run --rm -it waja/httpdiff-cli -help | head -1 | cut -d' ' -f1)" = "httpdiff" ]
